// the config  file for this 'COM' library 

// the config information can not be directly used by 
// outside world, must be parsed by config.js  source functionality 

// ^ and $ is consts which represents beignning and end of sentence 

CONSTS 
^#$

#seperator#
	#*#


*value* 
	#@#
	

*dir*
	*root*
		@../../../@
		

*name*
	*dir*
		*src*
			@src@
			
*time*
	*login*
		*latest*
			@2015-08-21@
			
*addr*
	*logs*
		*system*
			@not-set-yet@
			
*addr*
	*libs*
		*system*
			@../../src/lib@					
				
*addr*
	*logs*
		*app*
			@not-set-yet@				
			
*pass*
	*default*
		@0000@
		
*mode*
	*default*
		@cmd@
		
*mode*
	*current*
		@cmd@
		
*path*
	*python*
		@not-set-yet@
		
*path*
	*ruby*
		@not-set-yet@
		
*path*
	*bash*
		@not-set-yet@		
		
*path*
	*db*
		@not-set-yet@
		
*addr*
	*server*
		@not-set-yet@
		
*PATH*
	@the-system-bin-addr-which-can-be-executed@
	
*locale*
	*default*
		*zh-rCN*
		
*seperator*
	*filesystem*
		@/@
		
		
		