// reserved, the definitions codes are all here 

*function*
	#function name#
		@print-vars@
	#code#
		@{
		$(foreach var,$(1), \
		  $(info $(var):) \
		  $(foreach word,$($(var)), \
			$(info $(space)$(space)$(word)) \
		   ) \
		 )
		}@		// translate this later 

		
*function*
	#function name#
		@all-files-under@
	#code#
		@{
		$(wildcard $(1)/*/Android.mk)
		}@				
		
		
*function*
	#function name#
		@first-file-under@
	#code#
		@{
		
		}@						

		
		